@import url('https://fonts.googleapis.com/css?family=B612:400,700|Open+Sans');

@grid-size: 640px;
@num-items: 32;

html {
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin: 30px auto;
    text-align: center;
}

.main-heading {
    font-family: 'B612', sans-serif;
    font-weight: 700;
}

.main-container {
    line-height: 0;
    width: @grid-size;
    height: @grid-size;
    margin: 0 auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.item {
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,0.7);
    border-right: 1px solid rgba(0,0,0,0.7);
    margin: 0;
}

.form {
    width: 100%;
    height: 20px;
    text-align: center;
    margin: 30px;

    .input {
        height: 20px;
        width: 200px;
        text-indent: 10px;
    }

}